*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
.menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

.btn{
    background-color:  #FD6E0A;
    font-size: 20px;
    border: none;
    padding: 18px 35px ;
    border-radius: 5px;
    font-weight: bold;
   color: white;
   align-items: center;
   cursor: pointer;
   


}

/* main style */

header{
    background-color: #FFF8F3;
    padding-top: 50px;

}
#banner{
    background: url("../images/header_bg.png") ,#FFF8F3;
    background-repeat: no-repeat;
    background-position:  bottom right ;

}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.banner-content{
    max-width: 585px;
}
#banner{
    
    margin: 47px 38px 0px 230px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;

}
.banner-content h1{
    font-size: 80px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;

}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-image{
    max-width: 585px;
     vertical-align: middle;
}


/* footer section */
footer{
    background-color: #FFF8F3;
    height: 780px;
    width: 1600px;
    display: flex;
    margin-top: 150px ;
    
}
.footer-mn{
    padding: 74px 485px  85px 171px;
    tab-size: 20px ;
}
.image{
    display: flex;
    list-style: none;
    gap: 24px ;
    padding: 30px ;
}


.text-name{
    gap: 24px ;
    
}